@charset "UTF-8";


li {
    font-size: 28pt;
    margin-left: 40px;
}

a:link, a:visited, a:hover {
    color: #fff;
    text-decoration: none;
}

#drink {
    background: url(../images/main4.png) center center / cover no-repeat fixed;
}

#food {
    background: url(../images/main5.png) center center / cover no-repeat fixed;
    color: #fff;
}

.container {
    width: 1000px;
    padding-top: 70px;
    margin: auto;
    font-size: 0;
}
